* {
box-sizing: border-box;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus,
textarea:-webkit-autofill, textarea:-webkit-autofill:hover,textarea:-webkit-autofill:focus,
select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #fff;
  color: #fff;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
  
/*  --- BG --- */

body {
    margin: 0;
    width: 100vw;
    height: fit-content;
    background-color: rgba(28,32,44,1);
    /*background-image: linear-gradient(120deg, #3D4151 0%, #1C202C 35% , #141824 80%);*/
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
}

/* --- END BG --- */

/* --- LOGO --- */

.logo__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wordLogo__img {
    width: 80%;
    margin-top: 5vh;
}

.logo__box {
    background-color: #282C3A;
    margin-top: 2vh;
    height: 25vh;
    width: 25vh;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__box--none {
    display: none;
}

.iconLogo__img {
    height: 80%;
}

/* --- END LOGO --- */

/* --- FORMS --- */

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__heading {
    display: none;
    text-align: center;
    font-size: 3em;
    margin: 1em 1.5em;
}

.form__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.input__form {
    width: 80%;
    background-color: transparent;
    padding-left: 15px;
    padding-bottom: 5px;
    margin-bottom: 5vh;
    color: #fff;
}

input::placeholder {
    color: #fff;
}

input[type=text], input[type=password] {
    border: none;
    border-bottom: 1px solid #707070;
}

.checkbox {
    width: 15vw;
}

.form__loginState {
    margin-top: 5vh;
    font-size: 1em;
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
}

.form__changeAvatar {
    margin-top: 2vh;
}
  
/* Hide the browser's default checkbox */
input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #282C3A;
    border-radius: 25%;
}
  
/* On mouse-over, add a grey background color */
.form__loginState:hover input ~ .checkmark {
    background-color: #404451;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.form__loginState input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.form__loginState .checkmark:after {
    background-image: url(../images/checkmark.svg);
    background-repeat: no-repeat;
    background-attachment: contain;
    background-position: center;
    height: 100%;
    width: 100%;
}

.page__switchers {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch__pages {
    margin: 0;
}

.switch__pages:last-child {
    margin-bottom: 2vh;
}

#avatar {
    height: 15vh;
    display: none;
}

.form__avatar {
    height: 15vh;
    width: 15vh;
    object-fit: cover;
    border-radius: 15%;
}

/* --- END FORMS --- */

/* --- BUTTONS --- */

.btn {
    background-color: #282C3A;
    border: 5px solid #FE7500;
    border-radius: 20px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em 2em;
}

.btn--small {
    font-size: 1em;
    border-radius: 10px;
    border: 3px solid #FE7500;
    padding: 0.25em 2em;
}

/* --- END BUTTONS --- */

/* --- TEXT --- */

.a__pages {
    color: #FE7500;
    text-decoration: none;
}

.orange {
    color: #FE7500;
}

.section__title {
    margin: 0.5em 0 0.5em 0.5em;
}

.region__info p, .leader__info p {
    margin: 0 0.5em;
    font-size: 1em !important;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: scroll;
    height: 3vh;
    font-weight: bold;
}

.section__div p {
    margin: 0;
}

.section__div--small p {
    font-size: 0.7em;
}

.section__titles {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section__titles h3 {
    margin-right: 0.5em;
}

h1 {
    margin: 0;
}

.factory__info p.level {
    font-size: 0.7em !important;
}

.factory__info p.foundationDate {
    font-size: 0.6em !important;
}

.factory__info p.name {
    font-weight: bold;
}

.userName {
    width: 80%;
    text-align: center;
    overflow: scroll;
    height: 5vh;
    margin: 0 0.5em;
}

.userLevel {
    margin: 0  1em;
}

.cash__titles, .cash__amount, .storage__titles {
    display: flex;
    justify-content: space-between;
}

.cash__titles h3, .storage__titles h3, .cash__amount h3, .section__perks h2 {
    margin: 0.5em 0.5em;
}

.perks h3 {
    margin: 0;
    text-align: center;
}

/* --- END TEXT --- */

/* --- BLOCKS --- */

.section {
    padding-bottom: 0.5em;
    border-bottom: 1.5px solid #FE7500;
}

.section__div--large {
    display: flex;
    width: 50%;
}

.section__div--small {
    width: 20%;
    margin: 0 0.5em;
}

.section__div--medium {
    width: 20%;
    margin-top: -2em;
    right: 1em;
    position: absolute;
}

.unique__resource, .government__icon {
    height: 80%;
    width: 80%;
}

.section__content {
    display: flex;
}

.coa {
    min-height: 60px;
    max-height: 60px;
    min-width: 60px;
    max-width: 60px;
    margin-left: 0.5em;
}

.coa--small {
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
    margin-left: 0.5em;
}

.region__info, .leader__info, .factory__info {
    margin: 0 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__state {
    justify-content: space-between;
}

.div__state {
    width: 75%;
}

.government__type {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    /*margin-top: -3em;*/
    font-size: 0.9em;
}

img {
    width: 100%;
    height: 100%;
}

.div--45 {
    width: 45%;
}

.div--right {
    text-align: right;
    justify-content: flex-end;
    margin-right: 0.5em;
}

.section__div--full {
    width: 100%;
}

.btn__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5em;
}

.section__user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__money {
    background-color: #141825;
    /*height: 20vh;*/
    margin-top: 5vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding-bottom: 1vh;
}

.perks {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15vh; /* temp */
}

.perk {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* --- END BLOCKS --- */

/* --- GRAPHS --- */

.graph__container {
    width: 90%;
    background-color: #5663FF;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
}

.graph__container--black {
    background-color: #282C3A;
}

.graph {
    width: 55%;
    background-color: #DA3232;
    border-radius: 5px;
}

.graph--green {
    background-color: #32DA59;
}

.graph p {
    margin: 0.5em;
}

/* --- END GRAPHS --- */

/* MAP */

.cls-1,
                .cls-2,
                .cls-3,
                .cls-4,
                .cls-5 {
                    fill: #e6e6e6;
                }

                .cls-1,
                .cls-2 {
                    stroke: #231f20;
                }

                .cls-1,
                .cls-2,
                .cls-4,
                .cls-5 {
                    stroke-miterlimit: 10;
                }

                .cls-2,
                .cls-3,
                .cls-5 {
                    fill-rule: evenodd;
                }

                .cls-3,
                .cls-4,
                .cls-5 {
                    stroke: #000;
                }

                .cls-3 {
                    stroke-linecap: round;
                    stroke-linejoin: round;
                }

.map { /* temp */
    height: 100vh;
    width: 100vw;
}

svg {
    height: 90vh;
    width: 90vw;
}

.map g:hover *{
    fill: #FE7500 !important;
}

/* END MAP */

/* --- MEDIA QUERIES --- */
@media all and (min-width: 1200px) {

.container--duo {
    display: flex;
    flex-direction: row;
}

.logo__section, .form__section {
    width: 50%;
}

/* --- LOGO --- */

.wordLogo__img {
    margin-top: 10vh;
}

.logo__box {
    background-color: transparent;
    height: 40vh;
    width: 40vh;
    margin-top: 15vh;
}

.logo__box--none {
    display: block;
}

.iconLogo__img {
    height: 100%;
}

/* --- END LOGO --- */

/* --- FORM --- */

.form__heading {
    display: block;
}

/* --- FORM --- */

.input__form {
    margin-bottom: 5vh;
}

.page__switchers {
    margin-top: 7vh;
}

.form__avatar {
    height: 20vh;
    width: 20vh;
}

/* --- END FORM --- */

/* --- BTNS --- */

.btn {
    font-size: 2em;
}

/* --- END BTNS --- */

} 